.Cart-container {
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
}

.Cart-order-sum {
    border: lightgray 1px solid;
    padding: 10px;
    width: 300px;
    height: fit-content;
}

.Cart-items, .Cart-order-sum {
    margin: 10px;
}

.Cart-order-sum-text {
    font-weight: 700;
}

.Cart-text {
    font-size: 1.5em;
    margin: 0 auto;
}